* {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display:block;
}
:focus {
	outline: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
}
header {
	background-color: #0f7173;
	width: 100%;
	max-height: 90px;
	position: fixed;
	z-index: 99;
	top: 0;
	border-bottom: 6px solid #ffffff;
}
header img {
	width: 40px;
	padding: 5px 15px;
}
h1, p {
	color: #323232;
}
#desktop-menu {
	display: none;
}
nav {
	background-color: #0f7173;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
nav ul li {
	list-style-type: none;
	padding-left: 30px;
	font-weight: 700;
}
nav ul li a, nav ul li a:visited, nav ul li a:active {
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing: .1em;
	
}
nav ul li a:hover {
	color: #e88d67;
	transition: .5s;
}
/* hamburger menu styling */
.hamburger {
	background:none;
	position:absolute;
	top:0;
	right:0;
	line-height:41px;
	padding-top: 1%;
	padding-right: 2%;
	padding-bottom: 1%;
	color:#e88d67;
	border:0;
	font-size:1.8em;
	cursor:pointer;
	outline:none;
	transform: rotate(0deg);
}
.cross {
	background:none;
	position:absolute;
	top:0px;
	right:0;
	padding-top: 1%;
	padding-right: 2%;
	padding-bottom: 1%;
	color:#e88d67;
	border:0;
	font-size:4.4em;
	line-height:65px;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	transform: rotate(0deg);
}
.menu {
	z-index:1000000; 
	font-weight:bold; 
	font-size:0.8em; width:100%; 
	background:#ffffff;
	position:absolute;
	text-align:center;
	font-size: .8em;
	letter-spacing: .05em;
}
.menu ul {
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
	list-style-image: none;
}
.menu li {
	font-family: 'Montserrat', sans-serif;
	display: block;   
	padding:15px 0 15px 0; 
	border-bottom:#dddddd 1px solid;
	text-transform: uppercase;
}
.menu li:hover{
	display: block;    
	background:#f1f1f1; 
	padding:15px 0 15px 0; 
	border-bottom:#dddddd 1px solid;
}
.menu ul li a {
	text-decoration:none;
	margin: 0px; color:#0f7173;
}
.menu ul li a:hover {
	color: #0f7173; 
	text-decoration:none;
}
.menu a{
	text-decoration:none;
	color:#666;
}
.menu a:hover{
	text-decoration:none;
	color: #0f7173;
}
h1, p {
	text-align: center;
}
/* end hamburger menu */
main {
	display: flex;
	justify-content: center;
	margin-top: 270px;
}
article {
	width: 500px;
	height: 500px;
	margin-bottom: 140px;
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
	transform: rotate(45deg);
	transition: all 1s;
}
section {
	width: 200px;
	height: 200px;
	background-color: white;
	border: 2px solid #efefef;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: 5px 5px 10px 2px rgba(203,203,203,0.5);
	box-shadow: 5px 5px 10px 2px rgba(203,203,203,0.2);
}
.top, .bottom {
	display: flex;
	padding: 2px;
}
.blue-section, .one-section, .five-section {
	-webkit-border-radius: 15px 0 0 0;
	border-radius: 15px 0 0 0;
	margin-right: 2px;
}
.orange-section, .two-section, .six-section {
	-webkit-border-radius: 0 15px 0 0;
	border-radius: 0 15px 0 0;
	margin-left: 2px;
}
.yellow-section, .three-section, .seven-section {
	-webkit-border-radius: 0 0 0 15px;
	border-radius: 0 0 0 15px;
	margin-right: 2px;
}
.red-section, .four-section, .eight-section {
	-webkit-border-radius: 0 0 15px 0;
	border-radius: 0 0 15px 0;
	margin-left: 2px;
}
button {
	height: 40px;
	width: 100px;
	transform: rotate(-45deg);
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	cursor: pointer;
	color: #f2f2f2;
}
.blue-button, .one-button, .five-button {
	background-color: #1b264f;
}
.orange-button, .two-button, .six-button {
	background-color: #a3320b;
}
.yellow-button, .three-button, .seven-button {
	background-color: #e6af2e;
}
.red-button, .four-button, .eight-button {
	background-color: #6b0504;
}
.colorChange1 {
	background-color: gray;
	transition: all 1s;
	transform: rotate(405deg);
}
.colorChange2 {
	background-color: purple;
	transition: all 1s;
	transform: rotate(608deg);
}
.colorChange3 {
	background-color: red;
	transition: all 1s;
	transform: rotate(810deg);
}
.hide {
	display: none;
}
.show {
	display: flex;
}
#fortune-section {
	background-image: url('images/background.jpg');
}
#fortune-wrapper {
	width: 300px;
	margin: auto;
	height: 300px;
	background-color: black;
	border-radius: 200px;
	position: relative;
	margin-bottom: 20px;
}
#fortune-wrapper p {
	color: white;
	width: 150px;
	height: 150px;
	background-color: #8426e3;
	border-radius: 100px;
	text-align: center;
	top: 50%;
	left: 50%;
	position: relative;
	transform: translate(-50%,-50%);
	margin: 0;
}
#fortune-wrapper p span {
	opacity: 0;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
}
.fortune-show {
	opacity: 1 !important;
	transition: opacity 3s ease-out;
}
footer {
	width: 100%;
	background-color: #0f7173;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 10px;
	position: fixed;
	bottom: 0;
	display: flex;
}
#social {
	display: flex;
	justify-content: space-around;
	width: 15%;
	padding-left: 1%;
}
#social img {
	width: 15px;
	padding: 0 0.5% 1% 0.5%;
}
.grow {
	transition: all .4s ease-in-out;
}
.grow:hover {
	transform: scale(1.2);
}
#copyright {
	display: flex;
	justify-content: flex-end;
	width: 85%;
	padding-right: 1%;
}
#copyright p {
	font-size: .8em;
	color: #ffffff;
}

/* MEDIA QUERIES*/
@media (min-width: 800px) {
	header img {
		width: 60px;
		padding: 10px 20px;
	}
	#desktop-menu {
		display: flex;
		width: 80%;
		text-align: right;
		float: right;
		padding-right: 4%;
		padding-top: 45px;
	}
	.hamburger, .cross, .menu {
		display: none;
	}
}

